*{
    box-sizing: border-box;
}
.design{
    background-color: aquamarine;
    border-radius: 35% 35% 41% 41% / 42% 42% 75% 75%;
    height:200px;
    width:200px;
    margin-left:50%;
    margin-top:150px;
    }